@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 90%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(137,143,148,1) 0%, rgba(20,55,90,1) 100%);
    background-image: url(assets/paula-vermeulen-_f2m3mEkaaU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    font-family: 'Open Sans', sans-serif;

}

img {
    float: left;
    margin-right: 50px;
}

header>h1 {
    background-color: yellow;
}

main {
    margin-top: 150px;
}

h2 {
    margin: 20px 0;
    text-transform:uppercase;
    font-weight: bold;
}

p {
    letter-spacing: 0.5px;
    color: #333333;
    text-align: center;
}

#story>p:first-of-type {
    font-weight: bold;
}



a:link{
    color: darkred;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: orange;
}

a:hover {
    color: red;
    text-decoration: none;
}



q {
    display: block;
    max-width: 50%;
    margin: 40px auto;
    padding: 30px;
    font-size: 160%;
    background-color: #d4d4d3;
    border-left: 3px dashed black;
    font-style: italic;
}

.quote-villager {
    border-left-color:lightcoral;
}

.quote-farmer {
    border-left-color: lightseagreen;
}

table {
border: 1px solid black;
margin: 0 auto;
}

tr:nth-child(even) {
    background-color: grey;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

.bad {
    color: red;
}

.good {
    color: green;
}

#story-container {
    margin-top: 200px;
    display: flex;
}

#story {
    width: 50%;
}

#dialogTable {
    width: 50%;
}

caption {
    font-size: 6px;
}